@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500');

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
a {
  color: #22A699;
  text-decoration: none;
  border-bottom: 2px #999 dotted;
}
a:hover {
  border-bottom: 2px #22A699 dotted;
}


.as-link {
  cursor: pointer;
}

.list-table-row, .list-table-header, .list-table-cell {
  display: flex;
}

.list-table-row, .list-table-header {
  border-bottom: solid 1px #efefef;
}

.list-table-row {
  cursor: pointer;
}

.list-table-row:hover {
  background-color: #FAFAFA;
}

.list-table-row:last-child {
  border: none;
}

.list-table-header {
  font-weight: 500;
  color: #999;
}

.list-table-cell {
  flex: 1;
  padding: 5px 0;
  line-height: 25px;
  align-self: center;
}

.alert {
  color: #FF0C00;
}

.alert-enter {
  opacity: 0.01;
  transition: opacity .3s ease-in;
}

.alert-enter.alert-enter-active {
  opacity: 1;
}

.alert-leave {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.alert-leave.alert-leave-active {
  opacity: 0.01;
}
